@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100&family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

:root {
	--box-shadow: 3px 3px 16px -8px var(--color-shadow);
	--color-bg-2: hsl(0, 0%, 100%);
	--color-bg: hsl(221, 100%, 96%);
	--color-border-input: hsla(0, 0%, 0%, 0.7);
	--color-border: hsla(216, 12%, 84%, 0.1);
	--color-border-active: hsl(0, 0%, 50%, 0.5);
	--color-border-inner: hsla(0, 0%, 100%, 0.3);
	--border-inner: solid 2px var(--color-border-inner);
	--color-main: hsl(228, 47%, 46%);
	--color-shadow: hsla(0, 0%, 0%, 0.75);
	--color-text-muted: hsl(217, 14%, 22%);
	--color-text-title: hsl(220, 43%, 3%);
	--color-text-alt: hsl(0, 0%, 100%);
	--border-radius: 0.5rem;
	--bg-color: hsl(272, 77%, 50%);
	--bg-image:
		radial-gradient(at 27% 23%, hsl(162.17, 56%, 59%) 0, transparent 59%),
		radial-gradient(at 92% 65%, hsl(189.26, 84%, 62%) 0, transparent 55%);
}

body.dark {
	--box-shadow: 3px 3px 16px -8px var(--color-shadow);
	--color-bg-2: hsl(229, 54%, 16%);
	--color-bg: hsl(0, 0%, 11%);
	--color-border-input: hsla(0, 100%, 100%, 0.7);
	--color-border: hsla(0, 0%, 100%, 0.12);
	--color-border-active: hsl(0, 0%, 100%, 1);
	--color-main: hsl(229, 54%, 16%);
	--color-shadow: hsla(0, 0%, 0%, 0.75);
	--color-text-muted: hsl(0, 0%, 100%);
	--color-text-title: hsl(0, 0%, 100%);
	--color-text-alt: hsl(0, 0%, 100%);
	--bg-color: hsl(218, 39%, 11%);
	--bg-image:
		radial-gradient(at 47% 33%, hsl(211.46, 100%, 20%) 0, transparent 59%),
		radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

html {
	background-color: var(--bg-color);
	height: 100vh;
}

body {
	background-color: var(--bg-color);
	background-image: var(--bg-image);
	color: var(--color-text-muted);
	font-family: "Roboto", sans-serif;
	height: 100%;
	font-size: 1rem;
	font-weight: 400;
}

button {
	cursor: pointer;
}

h1 {
	font-weight: 700;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3,
th {
	font-size: 1rem;
	font-weight: 500;
}

.shadow {
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.card {
	padding: 1rem;
	backdrop-filter: blur(10px) saturate(180%);
	-webkit-backdrop-filter: blur(10px) saturate(180%);
	background-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 12px;
	border: 1px solid var(--color-border);
	color: var(--color-text-muted);
}

.card.open {
	height: 30rem;
}

.value {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

/* App */
#app {
	align-items: start;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	margin-inline: auto;
	max-width: 1500px;
	padding: 1rem;
}

#app.details-open {
	grid-template-columns: 1fr 1fr;
}
