@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100&family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

:root {
	--box-shadow: 3px 3px 16px -8px var(--color-shadow);
	--color-bg-2: hsl(0, 0%, 100%);
	--color-bg: hsl(221, 100%, 96%);
	--color-border-input: hsla(0, 0%, 0%, 0.7);
	--color-border: hsla(216, 12%, 84%, 0.3);
	--color-border-active: hsl(0, 0%, 50%, 0.5);
	--color-border-inner: hsla(0, 0%, 100%, 0.5);
	--border-inner: solid 2px var(--color-border-inner);
	--color-main: hsl(228, 47%, 46%);
	--color-shadow: hsla(0, 0%, 0%, 0.75);
	--color-text-muted: hsl(217, 14%, 22%);
	--color-text-title: hsl(220, 43%, 3%);
	--color-text-alt: hsl(0, 0%, 100%);
	--border-radius: 0.5rem;
	--bg-color: hsl(272, 77%, 50%);
	--bg-image:
		radial-gradient(at 27% 23%, hsl(162.17, 56%, 59%) 0, transparent 59%),
		radial-gradient(at 92% 65%, hsl(189.26, 84%, 62%) 0, transparent 55%);
}

body.dark {
	--box-shadow: 3px 3px 16px -8px var(--color-shadow);
	--color-bg-2: hsl(229, 54%, 16%);
	--color-bg: hsl(0, 0%, 11%);
	--color-border-input: hsla(0, 100%, 100%, 0.7);
	--color-border: hsla(0, 0%, 100%, 0.12);
	--color-border-active: hsl(0, 0%, 100%, 1);
	--color-main: hsl(229, 54%, 16%);
	--color-shadow: hsla(0, 0%, 0%, 0.75);
	--color-text-muted: hsl(0, 0%, 100%);
	--color-text-title: hsl(0, 0%, 100%);
	--color-text-alt: hsl(0, 0%, 100%);
	--bg-color: hsl(218, 39%, 11%);
	--bg-image:
		radial-gradient(at 47% 33%, hsl(211.46, 100%, 20%) 0, transparent 59%),
		radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

html {
	background-color: var(--bg-color);
	height: 100vh;
}

body {
	background-color: var(--bg-color);
	background-image: var(--bg-image);
	color: var(--color-text-muted);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	font-size: 1rem;
	font-weight: 400;
}

button {
	cursor: pointer;
}

h1 {
	font-weight: 700;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3, th {
	font-size: 1rem;
	font-weight: 500;
}

.shadow {
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.card {
	padding: 1rem;
	backdrop-filter: blur(10px) saturate(180%);
	-webkit-backdrop-filter: blur(10px) saturate(180%);
	background-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 12px;
	border: 1px solid var(--color-border);
	color: var(--color-text-muted);
}

nav {
	padding-inline: 1rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav button {
	border: 0;
	background: 0;
}

nav button.active :first-child {
	display: none;
}

nav button:not(.active) :last-child {
	display: none;
}

.value {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

/* App */
#app {
	align-items: start;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	margin-inline: auto;
	max-width: 1500px;
	padding: 1rem;
}

#app.details-open{
	grid-template-columns: 1fr 1fr;
}

/* Search */
#search-card {
	grid-row: 1;
	grid-column: 1 / 3;
	display: grid;
	grid-auto-rows: auto;
	justify-self: center;
	justify-items: center;
	width: 30rem;
}

#button-add-location {
	border: 0;
	background: 0;
	width: 100%;
	height: 100%;
	padding-inline: 1rem;
	font-size: 1rem;
	color: var(--color-text-muted);
}

#search-card #search-form {
	display: none;
}

#search-card.active #search-form {
	align-content: center;
	display: grid;
	grid-template: 1fr 2fr / 1fr 1px 1rem;
	height: 5rem;
	justify-self: center;
	padding: 1rem;
	width: 100%;
}

#search-form button {
	align-self: center;
	background: 0;
	border-radius: 50%;
	border: solid 1px transparent;
	cursor: pointer;
	font-size: 1rem;
	height: 1.5rem;
	justify-self: start;
	padding-inline: 0.2rem;
	width: 1.5rem;
}

#search-input {
	background-color: var(--color-bg-2);
	border-radius: 1rem;
	border: solid 1px var(--color-border-input);
	font-size: 1.5rem;
	grid-row: 2;
	height: 2rem;
	padding-block: 0.5rem;
	padding-inline: 1rem;
}

#button-submit {
	color: var(--color-text-muted);
	grid-column: 2;
	grid-row: 2;
	position: relative;
	right: 2rem;
}

button#button-submit:hover {
	border-color: var(--color-border);
}

button#button-gps {
	color: var(--color-text-muted);
	grid-row: 2;
}

/* Small Cards List */
#small-cards-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 22rem);
	grid-auto-rows: auto;
	margin: 0 auto;
	gap: 1rem;
	width: 100%;
}

/* Cards */
.small-card {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	cursor: pointer;
	transition: transform 500ms, filter 500ms;
}

.small-card.active{
	grid-column: 1/3;
	grid-row: 1;
}

.small-card:not(.active):hover{
	transform: scale(1.05);
}

#small-cards-list:hover .small-card:not(:hover){
	filter: opacity(0.5);
}

#small-cards-list:hover .small-card.active:not(:hover){
	filter: opacity(0.9);
}

.small-card-header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: end;
	justify-items: start;
}

.small-card-header .header-temp {
	font-size: 2rem;
	justify-self: end;
}

.small-card-header .header-button {
	font-size: 2rem;
	justify-self: end;
	align-self: start;
}

.small-card-header .header-text {
	grid-column: 1 / 3;
}

.small-card-body {
	padding-top: 1rem;
}

.small-card-footer {
	padding-top: 1rem;
	border-top: var(--border-inner);
	display: grid;
	grid-template-rows: auto auto;
}

/* Details */
.details-card-header{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 3rem;
	margin-bottom: 1rem;
	border-bottom: var(--border-inner);
}

.details-card-header :last-child{
	text-align: end;
}

.details-card-body{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	gap: .25rem;
}

.details-card-div{
	padding-block: 1rem;
	text-align: center;
	border: var(--border-inner);
	border-radius: .5rem;
	width: 100%;
}

.details-card-div .value {
	font-size: 1.2rem;
}

/* Details next days */
#details-next-days {
	padding-inline: 2rem;
	max-height: 30rem;
}

#details-next-days.closed {
	display: none;
}

.details-next-days-header {
	margin-bottom: 1rem;
	border-bottom: var(--border-inner);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 3rem;
}

.details-next-days-body {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	text-align: center;
}

.card-day {
	text-align: justify-all;
}

.card-day:nth-child(even){
	background: hsla(0, 0%, 100%, 0.1);
}

.card-day .maxtemp {
	font-weight: 600;
	font-size: 1.3rem
}

.card-day button {
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	border: 0;
	background: hsla(0, 0%, 100%, 0.3);;
}